:root {
   --white: #fff;
   --primary: #61ecbc;
   --black: #182339;
}
html {
   font-size: 62.5%;
}
body {
   min-height: 100vh;
   background-image: url("/bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Outfit", sans-serif;
   font-size: 2rem;
}
.container {
   width: 95%;
   max-width: 60rem;
   margin: 0 auto;
}
.app-title {
   margin-bottom: 5rem;
   font-size: 3.8rem;
   margin-top: 5rem;
   color: var(--white);
   line-height: 0.8;
}
.app-title span {
   display: block;
   color: var(--primary);
   font-size: 4.4rem;
}
.content {
   padding: 6rem 2rem;
   background-color: var(--white);
   border-radius: 1rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form,
.field {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.form label {
   color: var(--black);
}
.form select {
   padding: 1rem;
   background-color: #ecebeb;
   border: none;
   border-radius: 1rem;
   font-size: 1.8rem;
}
.form [type="submit"] {
   margin-top: 2rem;
   padding: 1rem;
   background-color: var(--primary);
   color: var(--black);
   border: none;
   font-weight: 900;
   cursor: pointer;
   text-transform: uppercase;
   transition: background-color 300ms ease;
}
.form [type="submit"]:hover {
   background-color: #86d8c2;
}

.result-wrapper {
   margin-top: 5rem;
}
.result-wrapper h2 {
   text-align: center;
}
.result {
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
   gap: 1rem;
}
.result img {
   width: 100%;
}
.result p {
   margin: 0 0 1rem;
   font-size: 1.6rem;
}
.result span {
   font-weight: 700;
}
