:root {
   --white: #fff;
   --primary: #f59e0b;
}

html {
   font-size: 62.5%;
}

body {
   height: 100vh;
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   background-image: url(/bg_clima.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   color: var(--white);
   font-size: 2rem;
}
